<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="nil.nadph.qnotified" >

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_del_friend_top"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:resizeableActivity = "true">
		<activity
			android:name=".ConfigActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="xposedmodule"
			android:value="true"/>
		<meta-data
			android:name="xposeddescription"
			android:value= "@string/xposeddescription" />
		<meta-data
			android:name="xposedminversion"
			android:value="51" />


	</application>

</manifest>
