<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nil.nadph.qnotified">

    <!-- dummy permission, making LP report false positive "License verification found" -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:multiArch="true"
        android:resizeableActivity="true"
        android:theme="@style/AppThemeDummy"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".activity.ConfigV2Activity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/Theme.MaiTungTMDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ConfigActivity"
            android:icon="@drawable/icon"
            android:label="@string/app_name" />

        <activity-alias
            android:name=".activity.ConfigV2ActivityAlias"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:targetActivity=".activity.ConfigV2Activity"
            android:theme="@style/Theme.MaiTungTMDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="me.singleneuron.activity.QQPurifyAgentActivity"
            android:excludeFromRecents="true"
            android:icon="@drawable/qqpurify_launcher"
            android:label="@string/qqpurify_name"
            android:theme="@style/noDisplay" />

        <activity
            android:name="me.ketal.ui.activity.QFileShareToIpadActivity"
            android:icon="@drawable/icon"
            android:exported="true"
            android:enabled="false"
            android:theme="@style/noDisplay" >
            <intent-filter android:label="@string/send_to_ipad">
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter android:label="@string/send_to_ipad">
                <action
                    android:name="android.intent.action.SEND_MULTIPLE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposeddescription" />
        <meta-data
            android:name="xposedminversion"
            android:value="51" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposedscope" />

    </application>

</manifest>
