name: Build CI

on:
  pull_request:
    branches: [ master ]

env:
  WARN_ON_PR: "artifact upload is disabled due to the workflow is trigged by pull request."

jobs:
  gradle:
    name: Gradle CI Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      name: Clone repository

    - name: Prepare Java 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
        java-package: jdk+fx

    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: Build project
      run: |
        if ${{ !!github.head_ref }}; then echo "::warning:: Gradle $WARN_ON_PR"; fi
        ./gradlew build
    
    - name: Upload articact
      uses: actions/upload-artifact@v2
      if: ${{ !github.head_ref }}
      with:
        path: app/build/outputs/apk
        name: gradle
